*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex parent */
body {
  background-color: hsl(212, 23%, 69%);

  /* this centers flex item */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* flex item */
.main-container {
  width: 630px;
  height: 250px;
  background-color: white;
  border-radius: 10px;

  display: flex;
  position: relative;

  justify-content: end;
}

.content-container {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  width: 60%;

  padding: 24px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  z-index: 2;

  height: auto;
}

.heading {
  font-size: large;
  font-weight: 700;
  opacity: 0.6;
}

.content-body {
  font-size: 11px;
  font-weight: 600;
  opacity: 0.4;
  line-height: 17px;
  text-align: left;
}

.image-container {
  position: absolute;
  z-index: 1;
  left: 0%;
}

.image-container > img {
  height: 250px;
  border-radius: 10px 0px 0px 10px;
}

/* main container at the bottom */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture-and-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.profile-picture > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-details {
}

.profile-name {
  font-size: 12px;
  font-weight: 800;
  opacity: 0.6;
}

.date {
  font-size: x-small;
  font-weight: 600;
  opacity: 0.3;
}

.share-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);

  /* to anchore share-pop-up to share-icon */
  position: relative;

  /* transition: opacity 0.3s ease; */
}

.share-pop-up-box {
  width: 200px;
  height: 48px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;

  position: absolute;
  top: -180%;
}

.share-pop-up {
  height: 30px;
  width: 30px;
  background-color: hsl(217, 19%, 35%);

  position: absolute;
  top: -120%;

  transform: rotate(45deg);
}
