*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex parent */
body {
  background-color: hsl(212, 23%, 69%);

  /* this centers flex item */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 13px;
}

/* flex item */
.main-container {
  width: 39.375rem;
  height: 15.625rem;
  background-color: white;
  border-radius: 10px;

  display: flex;
  position: relative;

  justify-content: end;
}

.content-container {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  width: 60%;

  padding: 1.5rem 1.875rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.9375rem;

  z-index: 2;

  height: auto;
}

.heading {
  font-size: 1.125rem;
  font-weight: 700;
  opacity: 0.6;
}

.content-body {
  font-size: 0.6875rem;
  font-weight: 600;
  opacity: 0.4;
  line-height: 1.0625rem;
  text-align: left;
}

.image-container {
  position: absolute;
  z-index: 1;
  left: 0%;
}

.image-container > img {
  height: 15.625rem;
  border-radius: 10px 0px 0px 10px;
}

/* main container at the bottom */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture-and-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.profile-picture > img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.profile-details {
}

.profile-name {
  font-size: 0.75rem;
  font-weight: 800;
  opacity: 0.6;
}

.date {
  font-size: 0.625rem;
  font-weight: 600;
  opacity: 0.3;
}

.share-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);

  /* to anchore share-pop-up to share-icon */
  position: relative;

  /* transition: opacity 0.3s ease; */
}

.share-pop-up-box {
  width: 14.375rem;
  height: 2.9375rem;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;

  position: absolute;
  top: -180%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.share-pop-up-text {
  color: white;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 0.375rem;
  opacity: 0.6;
}

.share-pop-up-img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  padding: 0px 15px;
}

.share-pop-up-img-container img {
  width: 1.0625rem;
  height: 1.0625rem;
  object-fit: contain;
}

.share-pop-up {
  height: 1.6875rem;
  width: 1.6875rem;
  background-color: hsl(217, 19%, 35%);

  position: absolute;
  z-index: -1;
  top: -120%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  transform: rotate(45deg);
}

.share-icon:hover > .share-pop-up-box {
  opacity: 1;
  visibility: visible;
}

.share-icon:hover > .share-pop-up {
  opacity: 1;
  visibility: visible;
}

/* media queries */
@media (max-width: 630px) {
  html {
    font-size: 12px;
  }

  .main-container {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 265px;
    height: 400px;

    background-color: skyblue;
  }

  .image-container {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
  }

  .image-container > img {
    display: block;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }

  .content-container {
    height: 61%;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    z-index: 2;
  }

  .content-body {
    font-size: 11px;
    font-weight: 600;
    opacity: 0.4;
    line-height: 15px;
    text-align: left;
  }

  .profile-name {
    font-size: 11px;
    font-weight: 800;
    opacity: 0.6;
  }

  .date {
    font-size: 9px;
    font-weight: 600;
    opacity: 0.3;
  }
}
